:root {

}

.list {
    list-style: none;
}
link{
    text-decoration: none;
}
.span-portfolio{
    color: #2e2f42;

}
.address-portfolio{
    font-style: normal;
}

.button {

    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor:pointer;
  
}

button:hover{
    color: #FFFFFF;
    background-color: #404BBF;

}
button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    
}

body{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}

text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;


}
