:root{

}

body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
:link{
text-decoration: none;
}


.test-link{
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
;
}

.test-link:hover{ 
    color: #434455;

}
.list{
list-style: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
span{
    color: #2e2f42;
}
.nav-link {

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

.nav-link:hover{
color: #404bbf;

}
.nav-link:focus{
color: #404bbf;

}


/* Section 1 */

section{
    background-color: #2e2f42;

}

text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}


button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    
}


button:hover{
background-color: #404BBF;

}
button:focus{
background-color: #404BBF;
}