:root{

}

body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFFFFF;
}
:link{
text-decoration: none;

}
.list{
list-style: none;
}

.logo {
font-family: Raleway,sans-serif;
font-weight: font-size 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform:uppercase;
color: #4d5ae5;
}
span{
    color: #2e2f42;
}
/* Section 1 */






